<header class="site-header">
    <div class="logo">Nuns on the Run</div>
    <nav class="nav-links">
        <a class="link" href="#">Home</a>
        <a class="link" href="#">Classify</a>
        <a class="link" href="#">About</a>
        <a class="link" href="#">Talk</a>
        <a class="link" href="#">Blog</a>
    </nav>
</header>
