<div class="bg"></div>

<%- partial("_header") %>

<div class="marking-surface">

    <div class="row">

        <div class="image-area">
            <h1 class="title">Here is the full title of this particular piece</h1>
            <img class="image" src="image.jpg">
        </div>

        <div class="control-area">
            <p>Please tag the following:</p>
            <button class="name">Name</button>
            <button class="date">Date</button>
            <button class="convent">Convent</button>
            <button class="convent">Prioress</button>
            <button class="bishop">Bishop</button>
        </div>

    </div>

</div>

<%- partial("_footer") %>
