.control-area
    @extend .col-md-2
    background: rgba(#000, 0.8)
    border-radius: 15px
    padding: 15px

    > .name,
    > .date,
    > .convent,
    > .bishop
        @extend .btn
        @extend .btn-default
        @extend .btn-block
        @extend .btn-sm

    > .name,
    > .date,
    > .convent
        margin-bottom: 15px
