.footer-content
    @extend .row

    a
        color: #fff

    > .heading
        @extend .col-md-12
        font-size: 18px
        margin-bottom: 1em

    > .projects
        @extend .col-md-3

    > .projects > dt
        font-size: 10px
        font-weight: 700
        letter-spacing: 2px
        text-transform: uppercase

    > p
        @extend .col-md-12
        text-transform: uppercase
