.nav-links

    > .link
        font-size: 12px
        font-weight: 700
        letter-spacing: 2px
        padding: .5em 1em
        text-decoration: none
        text-transform: uppercase
        color: #fff
