.site-footer
    @extend .container
    margin-top: 30px

    > .row > .zooniverse-logo-container
        @extend .col-md-3

    > .row > .zooniverse-logo-container > svg
        padding: 25px
        height: 100%
        width: 100%

    > .row > .footer-content
        @extend .col-md-9
