.site-wrapper
    -webkit-font-smoothing: antialiased !important
    color: #fff
    background: url("bg.jpg") top right no-repeat
    background-attachment: fixed
    background-size: cover
    position: relative

    > *
        position: relative

    > .bg
        background-color: rgba(0, 0, 0, 0.75)
        content: ''
        display: block
        height: 110%
        position: absolute
        width: 100%
        top: -15px
